@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: url('/public/fonts/Helvetica.woff') format('woff');
}